{{#partial "principal" }}
   <div class="contenedor">

       <div class="filter">
           <h3>Filtros:</h3>
           <a href="/?estadoIncidente=RESULTO" class="filtro_desactivado">Cerrado</a>
           <a href="/?estadoIncidente=ACTIVO" class="filtro">Abierto</a>
       </div>

       <div class="cards">
           <ul>
           {{#each incidentes}}
               <div class='card'>
                   <li>
                       <div class="titulo_comunidad">
                           <h1>{{this.[0].[comunidad].[nombre]}}</h1>
                       </div>
                       <div class = "incidentes">
                           <ul>
                           {{#each this}}
                               <li>
                                   <div class = "incidente">
                                       <h2>{{observaciones}}</h2>
                                       <form method="post" action="#">
                                           <button type="submit" class="boton_enviar">
                                               Cerrar
                                           </button>
                                       </form>
                                   </div>
                               </li>
                            {{/each}}
                           </ul>
                       </div>
                   </li>
               </div>
            {{/each}}
           </ul>
       </div>
   <div>

{{/partial}}

{{> layout.html.hbs }}