<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/loginError.css">

    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
<header>
</header>


<main>

    {{#block "principal" }}
    {{/block}}

</main>

<footer class="footer">
    <div class="footer__logo">
        <h2 class="logo"> @Copyright Conectados 2023 </h2>
    </div>
</footer>
</body>

</html>
