 {{#partial "principal" }}
    <div class="contenedor">
           <div class="titulo_servicio">
               <h1>Servicios de {{ establecimiento.[nombre] }}</h1>
           </div>
           <div class="cards_servicio">
               <ul>
                   <div class='card_servicio'>
                       <li>
                           <div class = "servicios">
                               <ul>
                       {{#each establecimiento.[servicios]}}
                                   <li>
                                       <div class = "servicio">
                                           <h2>Servicio {{id_servicio}}</h2>
                                           <div class="botonServicio">
                                               <a class="boton_enviar"
                                                  href="/establecimientos/{{establecimiento.[id_establecimiento]}}/servicios/{{id_servicio}}/incidentes/abrir">
                                                   Abrir incidente
                                               </a>
                                           </div>
                                       </div>
                                   </li>
                       {{/each}}
                               </ul>
                           </div>
                       </li>
                   </div>

               </ul>
           </div>
    </div>
 {{/partial}}
 {{> layoutConBarra.html.hbs }}