.cardsEstablecimiento{
    overflow-y: auto;
    color: var(--color-violet1);
}

.cardEstablecimiento{
    margin-top: 2rem;
    border-radius: 20px;
    border-bottom: 1px solid var(--color-iconos);
    background: var(--color-cards);
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
}
.botonServicio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    margin-left: 20px;
}

.containerEstablecimiento{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.bodyCardEstablecimiento{
    font-size: 10px;
}

.titulo_establecimiento{
    margin-right: 20px;
}

.tituloEstablecimiento{
    color: white;
}
