{{#partial "principal" }}
    <div class="contenedor">
    <h1 class="tituloEstablecimiento">ESTABLECIMIENTOS</h1>
        <div class="cardsEstablecimiento">
            <ul>
                {{#establecimientos}}
                    <div class='cardEstablecimiento'>
                        <li class="containerEstablecimiento">
                            <div class="bodyCardEstablecimiento">
                                    <div class="titulo_establecimiento">
                                        <h1>{{nombre}}</h1>
                                    </div>
                                    <div class="tipo_establecimiento">
                                        <h1>{{tipoEstablecimiento}}</h1>
                                    </div>
                            </div>
                            <div class = botonServicio>
                            <form method="post" action="#">
                                <button type="submit" class="boton_enviar">
                                    Ver servicios
                                </button>
                            </form>
                            </div>
                        </li>
                    </div>
                {{/establecimientos}}
            </ul>
        </div>
    </div>

{{/partial}}

{{> layoutConBarra.html.hbs }}